@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

* {
  list-style: none;
  font-family: 'montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7a75d1;
}

.wrapper {
  width: 850px;
  margin: 200px auto;
}

.main_title {
  font-size: 32px;
  color: #fff;
  width: 700px;
  margin: 0 auto 25px;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 2px;
  padding: 15px 25px;
}

.accordion_wrap ul {
  display: flex;
  justify-content: center;
  
}

.accordion_wrap ul li .accordion_items{
  width: 100px;
  height: 175px;
  background: #edc856;
  border-right: 1px solid #a48d2d;
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
}

.accordion_wrap ul li .accordion_items:hover,
.accordion_wrap ul li.active .accordion_items {
  background: #a48d2d;
  border-right: 1px solid #edc856;
}

.accordion_wrap ul li:first-child .accordion_items {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;  
}

.accordion_wrap ul li:last-child .accordion_items {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.accordion_wrap ul li .icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(192, 154, 48);
  font-size: 3rem;
}

.accordion_items .icon:hover {
  color: #fff;
}

.accordion_wrap ul li {
  display: flex;
}

.accordion_menu {
  width: 0;
  height: 175px;
  background: #fffaeb;
  color: #a48d2d;
  overflow: hidden;
  transition: width .3s ease-in-out;
}

.accordion_menu.active {
  width: 250px;
  transition: all .3s ease-in-out;
}